/* Images compare main container */
.images-compare-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* Images compare front element */
.images-compare-before {
    will-change: clip;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

/* Images compare back element */
.images-compare-after {
    pointer-events: none;
}

/* Responsive image settings */
.images-compare-before img, .images-compare-after img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Separator (thin vertical blank line) */
.images-compare-separator {
    position: absolute;
    background: rgba(0, 0, 0, 0.452);
    height: 100%;
    width: 1px;
    z-index: 4;
    left: 0;
    top: 0;
}

/* Drag handle arrows */
.images-compare-left-arrow, .images-compare-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

/* Label */
.images-compare-label {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.4);
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}

.images-compare-container .images-compare-label {
    display: inherit;
}

.images-compare-before .images-compare-label {
    left: 10px;
}

.images-compare-after .images-compare-label {
    left: auto;
    right: 10px;
}

#aside-left{
    margin: auto;
}

#aside-right{
    
    position: relative;

}
/*search menu*/
.boxContainer_left {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
}

.elementsContainer_left {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
    background-color:white;
}
.search:focus {
    outline: none;
}
.fa-solid fa-magnifying-glass {
    font-size: 26;
    color: #2980b9;
}


/*search right*/
.boxContainer_right {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
}

.img_inputbox {
    width: 475px;
    height: 790px;
    margin: -25px;
    margin-top: 35px;
    background-color: white;
}

.elementsContainer_right {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
    background-color:white;
}
.search:focus {
    outline: none;
}
.fa-solid fa-magnifying-glass {
    font-size: 26;
    color: #2980b9;
}


/* 사이드바  left*/
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    margin: 30px;
    width: 60px;
    height: 50px;
    position:fixed;
    bottom: 400px;
    cursor: pointer;
}

input[id="menuicon"]:checked + label {
    z-index: 2;
    left:600px;
    transform: scaleX(-1);
}

.sidebar_a{
    width: 700px;
    height: 100%;
    background: gold;
    position:fixed;
    top: 0;
    left: -900px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked +label +div {
    left:0;
}



/* 사이드바  right*/
input[id="menuicon_right"] {
    display: none;
}
input[id="menuicon_right"] + label {
    display: block;
    margin: 30px;
    width: 60px;
    height: 50px;
    position:fixed;
    right: 0;
    bottom: 400px;
    cursor: pointer;
}

input[id="menuicon_right"]:checked + label {
    z-index: 2;
    right:600px;
    transform: scaleX(-1);
}


.sidebar_b{
    width: 700px;
    height: 100%;
    background: gold;
    position:fixed;
    top: 0px;
    right: -900px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon_right"]:checked +label +div {
    right:0;
}

.img_inputbox {
    width: 475px;
    height: 790px;
    margin: -25px;
    margin-top: 35px;
    background-color: white;
}

.add-button {
    position: fixed;
    bottom: -450px;
    margin: 480px;
}
.b {
    font-size: 50px;
}
.add-button {
    margin-left: 420px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 20px;
}
.add-button:hover {
    background-color: white;
    color: black;
    transition: background 0.2s ease-in-out;
}

/* 다크 모드 */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display: none;}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    top: 18%;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: black;
}

input:checked + .slider::before{
    transform: translate(100%);
    top: 18%;
}

.dark-mode{
    background-color: black;
    color:  white;
}

#mori {
    font-size: 50px;
}

.switch {
    margin-left: 1800px;
}

* {margin: 0; padding: 0;}
#wrap {width: 100%;}   
header {width: 100%; height: 150px;}
aside {float: left; width: 10%; height: 700px;}
section {float: left; width: 80%; height: 700px;}
article {float: left; width: 10%; height: 700px;}
footer {clear: both; width: 100%; height: 150px;}

ul li {list-style-type: none; text-align: left;}