/* Images compare main container */

* {
    user-select: none;
}

body {
    transition: background 0.2s ease-in-out;
}

.images-compare-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* Images compare front element */
.images-compare-before {
    will-change: clip;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}



/* Images compare back element */
.images-compare-after {
    pointer-events: none;
}

/* Responsive image settings */
.images-compare-before img, .images-compare-after img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Separator (thin vertical blank line) */
.images-compare-separator {
    position: absolute;
    background: rgba(0, 0, 0, 0.452);
    height: 100%;
    width: 1px;
    z-index: 4;
    left: 0;
    top: 0;
}

/* Drag handle arrows */
.images-compare-left-arrow, .images-compare-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

/* Label */
.images-compare-label {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.4);
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}

.images-compare-container .images-compare-label {
    display: inherit;
}

.images-compare-before .images-compare-label {
    left: 10px;
}

.images-compare-after .images-compare-label {
    left: auto;
    right: 10px;
}

#aside-left{
    margin: auto;
}

#aside-right{
    
    position: relative;

}
/*search menu*/
.boxContainer_left {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
}

.elementsContainer_left {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
    background-color:white;
}
.search:focus {
    outline: none;
}
.fa-solid fa-magnifying-glass {
    font-size: 26;
    color: #2980b9;
}


/*search right*/
.boxContainer_right {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
}

.img_inputbox {
    width: 475px;
    height: 790px;
    margin: -25px;
    margin-top: 35px;
    background-color: white;
}

.elementsContainer_right {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
    background-color:white;
}
.search:focus {
    outline: none;
}
.fa-solid fa-magnifying-glass {
    font-size: 26;
    color: #2980b9;
}


/* 사이드바  left*/
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    margin: 30px;
    width: 60px;
    height: 50px;
    position:fixed;
    bottom: 400px;
    cursor: pointer;
}

input[id="menuicon"]:checked + label {
    z-index: 2;
    left:600px;
    transform: scaleX(-1);
}

.sidebar_a{
    width: 700px;
    height: 100%;
    background: -webkit-linear-gradient(to right, #67b3f6, #1b53c2);
    background: linear-gradient(to right, #1b53c2, #67b3f6);
    position:fixed;
    top: 0;
    left: -900px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked +label +div {
    left:0;
}



/* 사이드바  right*/
input[id="menuicon_right"] {
    display: none;
}
input[id="menuicon_right"] + label {
    display: block;
    margin: 30px;
    width: 60px;
    height: 50px;
    position:fixed;
    right: 0;
    bottom: 400px;
    cursor: pointer;
}

input[id="menuicon_right"]:checked + label {
    z-index: 2;
    right:600px;
    transform: scaleX(-1);
}


.sidebar_b{
    width: 700px;
    height: 100%;
    background: -webkit-linear-gradient(to right, #67b3f6, #1b53c2);
    background: linear-gradient(to right, #67b3f6, #1b53c2);
    position:fixed;
    top: 0px;
    right: -900px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon_right"]:checked +label +div {
    right:0;
}

.img_inputbox {
    width: 475px;
    height: 790px;
    margin: -25px;
    margin-top: 35px;
    background-color: white;
    border: 3px solid transparent;
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.add-button {
    position: fixed;
    bottom: -450px;
    margin: 480px;
}
.b {
    font-size: 50px;
}
.add-button {
    margin-left: 420px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 20px;
}
.add-button:hover {
    background-color: white;
    color: black;
    transition: background 0.2s ease-in-out;
}

/* 다크 모드 */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display: none;}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    top: 18%;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: black;
}

input:checked + .slider::before{
    transform: translate(100%);
    top: 18%;
}

.dark-mode{
    background-color: #101010;
    color:  white;
}

#mori {
    font-size: 50px;
}

#dark {
    display: flex;
    justify-content: right;
}

.switch {
    /* margin-left: 1800px; */
}

.tm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

* {margin: 0; padding: 0;}
#wrap {width: 100%;}   
header {width: 100%; height: 150px;}
aside {float: left; width: 10%; height: 700px;}
section {float: left; width: 80%; height: 700px;}
article {float: left; width: 10%; height: 700px;}
footer {clear: both; width: 100%; height: 150px;}

ul li {list-style-type: none; text-align: left;}

/* body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
} */

/* .image-compare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: var(--image-height);
    background-color: #efefef;
    border-radius: 60px;
} */

.js-img-compare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: background-image 0.2s ease-in-out;
}

.dark-mode .js-img-compare {
    background-image: linear-gradient(#202020, #222222), linear-gradient(to right, #0800ffaa, #65d3ffaa);
}

.image-area {
    position: relative;
    width: 1200px;
    height: 100%;
    overflow: hidden;
}

.image-area > .image-desc {
    position: absolute;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    z-index: 1;
}

.image-area > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    width: max-content;
    height: 100%;
}

.image-area > .image2 {
    clip-path: inset(0 50% 0 0);
}

.image-area > .image-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    appearance: none;
    background-color: transparent;
}

.image-area > .image-slider::-webkit-slider-thumb {
    appearance: none;
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.image-area > .image-line {
    position: absolute;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: black;
    left: 50%;
}

.image-desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#logo {
    text-align: center;
    padding: 1%;
}